*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: #fffcfc;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
