.loadingcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    z-index: 1000;
    position: absolute;
    top: 0;
    flex-direction: column;
    overflow: hidden;
}

.gif1{
    position: absolute;

    
}
.gif2{
    position: absolute;
    z-index: 10;
    bottom: 10px;
}